
<form method="post" action="/dashboard/prob">
  <div class="form-group">
    <label>Coffee Type</label>
    <input type="text" class="form-control" name="coffee">
  </div>

  <div class=form-group>
    <label>Size</label>
    <input type="text" class="form-control" name="size">
  </div>

  <div class=form-group>
    <label>Morning or Evening</label>
    <input type="text" class="form-control" name="time">
  </div>

  <div>
    <input class="btn btn-default" type="submit" value="Submit">
  </div>
</form>

<!-- puts calc_prob(coffee,size,time)